* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-image: radial-gradient(center, circle, #FFFFFF 0%, hsl(0, 100%, 50%) 100%);
}

#color-container {
    background: rgb(255, 255, 255); /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, #FEFEDF, #C493FF, #845EC2); /* Safari */
    background: -o-radial-gradient(circle, #FEFEDF, #C493FF, #845EC2); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #FEFEDF, #C493FF, #845EC2); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, #FEFEDF, #C493FF, #845EC2); /* Standard syntax */
}